.Headline {
  min-height: 432px;
  padding: 204px 0 217px;
  position: relative;
}

.Headline__title {
  color: #fff;
  font-size: 70px;
  font-weight: 700;
  line-height: 79px;
  margin: 0 0 54px;
  max-width: 630px; // 621
  opacity: 0;
  transform: translate(-80px, -80px);
}

.Headline__Subtitle {
  color: rgba(#fff, 0.8);
  font-size: 21px;
  font-weight: 500;
  line-height: 36px;
  margin: 0 0 88px 0;
  max-width: 723px;
  opacity: 0;
  transform: translate(0, 80px);
}
