.Headline {
  min-height: 432px;
  padding: 0 0 217px;
}

.Headline__title {
  color: #fff;
  font-size: 70px;
  font-weight: 700;
  line-height: 79px;
  margin: 204px 0 0 0;
  max-width: 630px; // 621
}

.Headline__Subtitle {
  color: rgba(#fff, 0.8);
  font-size: 21px;
  font-weight: 500;
  line-height: 36px;
  max-width: 723px;
  margin: 54px 0 88px 0;
}
