// bower:scss
// endbower

// .browserupgrade {
//   margin: 0.2em 0;
//   background: #ccc;
//   color: #000;
//   padding: 0.2em 0;
// }

// font-family: 'Poppins', sans-serif;
// font-family: 'Nunito', sans-serif;

body {
  background: #fafafa;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  // font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;

  // reset
  margin: 0;
}

.ContainerBackground {
  background: url("../images/background-style.png") no-repeat 0 0;
  width: 100%;
  height: 1341px;
  padding: 74px 0 0;
  display: block;
}

.Container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
}

.Header {
  // margin: 74px auto 0;
  display: flex;
}

.Nav {
  margin: 0 0 0 auto;
}

.NavLink {
  color: #fff;
  line-height: 36px;
  font-size: 20px;
  text-decoration: none;

  // font-family: FontAwesome5FreeSolid;
  // font-size: 16px;

  &:hover {
    text-decoration: underline;
  }
}

@import "./components/Button";
@import "./Headline";
