// bower:scss
// endbower

// .browserupgrade {
//   margin: 0.2em 0;
//   background: #ccc;
//   color: #000;
//   padding: 0.2em 0;
// }

html {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  // font-family: 'Nunito', sans-serif;
}

body {
  // TODO: what to do if background is not loaded?
  // background: url('../images/background-image.jpg') no-repeat center 0;
  background: url('../images/background.jpg') no-repeat center 0;
  padding: 74px 0;
  // min-height: 100%;
  // height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

// base
@import '../fonts/fontello';
@import '../fonts/animation';

// layout
@import './Container';
@import './Header';

// components (aka elements)
@import './components/Button';
@import './components/Link';
@import './components/Nav';
@import './components/Box';

// blocks
@import './blocks/Headline';
@import './blocks/Services';
@import './blocks/About';
@import './blocks/CompanyInfo';
@import './blocks/Purpose';

// TODO: rework font-size a line-height occurences
// TODO: rework title occurences
// TODO: rework subtitle occurences
// TODO: rework text occurences
