.Button {
  background-color: #ff8c6f;
  border-radius: 10px;
  border: 0;
  color: #fefeff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  height: 55px;
  line-height: 30px;
  max-width: 149px;
  position: relative;
  width: 100%;
  z-index: 0;
  overflow: hidden;

  &:active {
    transform: translateY(1px);
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
  }

  &::before {
    content: "";
    background-color: darken(#ff8c6f, 5%);
    border-radius: 10px;
    display: block;
    height: 100%;
    // left: 110%;
    position: absolute;
    top: 0;
    transform: skew(30deg, 0) translateX(-110%);
    transition: transform 0.4s ease;
    // transform: skew(30deg, 0) translateX(-15%);
    width: 125%;
    z-index: -1;
  }

  &:hover::before {
    // left: -20px;
    transform: skew(10deg, 0) translateX(-15%);
  }
}

.Button--headline {
  // background-color: #ff846f;
  height: 60px;
  max-width: 218px;
}
