.Link {
  color: #fff;
  line-height: 36px;
  font-size: 20px;
  text-decoration: none;

  // font-family: FontAwesome5FreeSolid;
  // font-size: 16px;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.Link--nav {
  margin: 0 47px 0 0;
}

.Link--email {
  color: #d7daff;
  flex: 0 1 auto;
  font-size: 18px;
  font-weight: 500;
  margin: 7px 0 0 16px;
}

.Link--underline {
  position: relative;
  text-decoration: none;
  overflow: hidden;

  &::before {
    background-color: #fff;
    bottom: 3px;
    content: '';
    display: block;
    height: 2px;
    left: 0;
    width: 100%;
    position: absolute;
    transform: translate(-100%, 0);
    transition: transform 0.4s ease;
  }

  &:hover {
    text-decoration: none;
  }

  &:hover::before {
    transform: translate(0);
  }
}

.Link--footer {
  color: rgba(#39436f, 0.7);
  line-height: 40px;
}
